[Unit]
Description=Update github hosts hourly
Requires=update-githubhosts.service

[Timer]
OnCalendar=hourly
AccuracySec=1h
Persistent=true

[Install]
WantedBy=timers.target